name: build

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - '**/*.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
    - uses: gradle/wrapper-validation-action@v1
    - uses: gradle/actions/setup-gradle@v3
    - name: Build with Gradle
      run: ./gradlew build --warning-mode all
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: ${{ !cancelled() }}
      with:
        report_paths: 'build/test-results/**/TEST-*.xml'
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./lib/build/reports/jacoco/test/jacocoTestReport.xml
