name: build

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./build/reports/jacoco/test/jacocoTestReport.xml

    # Android check
    - name: Setup Android SDK
      uses: android-actions/setup-android@v2
    - name: Install Android API 26
      run: sdkmanager "platforms;android-26"
    - name: Run Proguard check to check for API compatibility
      run: ./gradlew proguardCheck
      env:
        API_LEVEL: 26
